* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

:root {
    --paragraph-spacing: 3rem;
    --text-color: #373737;
    --heading-font-size: 3rem;
}

html,
body {
    overflow-x: hidden;
}

/* MODAL */

.modal {
    z-index: 1000;
    position: fixed;
    background-color: #FAF9F6;
    /* add to desktop */
    /* padding:2rem; */
    
    width: 100%;
    max-width: 600px;
    padding:.5rem;

    left: 50%;
    top: 50%;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: center center;


    padding-top:3rem;
    padding-bottom: 3rem;

}

.modal_content {
    width: 100%;
    /* background-color:  red; */
    margin: 0 auto;
}

.container,
.modal,
.share_link {
    transition: 500ms ease-in-out;
}


.modal-display {
  transform: scale(1) translate(-50%, -50%);

}

.modal_content h1 {
    text-align: center;
}

.copy_link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}

.copy_link input,
.copy_link button {
    font-size: 1.7rem;
    padding: .5rem 0 .5rem 0;
}

.copy_link button {
    cursor: pointer;
}


.modal_share {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around
}

.modal_share .fa-whatsapp {
    color: #25d366;
}




/* navbar */
.hamburger {
    position: fixed;
    width: 5rem;
    height: 5rem;
    right: .5rem;
    top: .1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    /* pointer-events: none; */
}



.bar {
    width: 75%;
    height: 13%;
    position: relative;
}

.bar::before,
.bar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.bar,
.bar::before,
.bar::after {
    transition: all .3s ease-in-out;
    background-color: black;
    background-color: blue;
}

.bar::before {
    transform: translateY(-0.9rem);
}

.bar::after {
    transform: translateY(0.9rem);
}

/* when hamburger is clicked */
.hamburger-click .bar {
    transform: translateX(-5rem);
    background: transparent;
}


.hamburger-click .bar::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.hamburger-click .bar::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.hamburger-click .bar::before,
.hamburger-click .bar::after {
    background: red;
}


nav {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 0%;
    transition: width 1s;
    background-color: greenyellow;
}

a.logo {
    display: none;
}

/* when the hamburger is clicked,this class added to .nav-width */
.nav-width {
    width: 50%;
}

/*  */
.navbar {
    width: 100%;
    height: 80%;
    list-style: none;
    font-size: 2.5em;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

/* when the hamburger is clicked,this class added to .navbar */
.navbar-visible {
    visibility: visible;
    opacity: 1;
}

/*  */
.navbar a {
    color: black;
    text-decoration: none;
    position: relative;
}


/* index.html*/

/* hero */
.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    color: black;
}

.hero-section img {
    width: 100%;
    opacity: .5;
}


.heading,
.hero-section h2 {
    z-index: 1;
    font-weight: bold;
    position: absolute;
}

.heading {
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
    font-size: 3rem;

}

.hero-section h2 {
    position: absolute;
    padding-top: 12rem;
    font-size: 1.5rem;

}





.bio,
.videos,
.photos,
.biography,
.contact {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.bio h1 {
    font-size: var(--heading-font-size);
    padding-top: var(--paragraph-spacing);
    text-align: center;
}

.bio p {
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 2;
}

.bio span {
    display: block;
    padding-top: var(--paragraph-spacing);
}

.bio-img {
    width: 100%;
    padding-top: var(--paragraph-spacing);
}

.readMore {
    display: inline-block;
    font-size: 1.6rem;
    border: 1px solid black;
    margin-top: 3rem;
    padding: 1rem 1.6rem 1rem 1.6rem;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 5px;
    text-decoration: none;
}

.readMore:hover {
    border: 1px solid blue;
    color: blue;
}


/* videos */
.videos {
    padding-top: var(--paragraph-spacing);
}


.videos h1 {
    font-size: var(--heading-font-size);
    text-align: center;
}


iframe {
    width: 100%;
    /* max-width: ; */
    padding-top: var(--paragraph-spacing);
}

/* PHOTOS.HTML */

.photos h1 {
    font-size: var(--heading-font-size);
    text-align: center;
    padding-top: var(--paragraph-spacing);
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery img {
    width: 100%;
    max-width: 700px;
}

/* biography.html */
.biography-heading {
    font-size: var(--heading-font-size);
    text-align: center;
    padding-top: var(--paragraph-spacing);
}

.biography p {
    font-size: 1.6rem;
    padding-top: var(--paragraph-spacing)
}

.biography img {
    width: 100%;
    padding-top: var(--paragraph-spacing);
}

/* contact.html */

.contact h1 {
    font-size: var(--heading-font-size);
    text-align: center;
    padding-top: 4rem;
}

.contact h1 span {
    display: block;
}

.contact p {
    text-align: center;
}


form {
    max-width: 800px;
    margin: 0 auto;
}

#name {
    margin-top: 3rem;
}

#name,
#email,
#message {
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    border: 2px solid black;
    font-size: 2rem;
}

.contact button {
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    width: 50%;
    max-width: 20rem;
    background-color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.contact button::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: scaleX(0);
    transition: .2s ease-in;
    transform-origin: left;
}

.contact button:hover::before {
    transform: scaleX(1);
}

.contact div {
    padding-top: 3rem;
}

/*font awesome for contact */
.phone,
.email {
    font-size: 2rem;
    padding-top: var(--paragraph-spacing)
}

.form-option {
    padding-top: var(--paragraph-spacing);
    font-size: 1.6rem;
}

/* social_media */

.social_media {
    padding-top: var(--paragraph-spacing);
}


.social_media h1 {
    text-align: center;
    font-size: 2rem;
}

.social_media a {
    text-decoration: none;
}


.social_links {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem
}



.fa-facebook {
    color: #1877f2;
}

.fa-instagram {
    color: #fd1d1d;
}

.fa-share-nodes {
    color: #01295c
}


/* footer */

footer {
    background-color: #383838;
    color: white;
    padding-top: var(--paragraph-spacing);
    margin-top: 2rem;
    padding-bottom: var(--paragraph-spacing);
    font-size: 1.3rem;
}

footer p {
    text-align: center;
}

footer span {
    display: block;
}

footer span a {
    color: white;

}

/* scrolling animations */
.hidden {
    transform: translateX(10rem);
    opacity: 0;

    transition: 200ms;
}

.hidden.show {
    transform: translateX(0);
    opacity: 1;
}

@media screen and (min-width:1100px) {

.modal h1{
    font-size: 3rem;
}

.modal input{
    font-size: 2rem;
    padding:1rem;
    padding-right:2rem;
    
}

.modal button{
    font-size: 2rem;
    padding:1rem;
    padding-left:2rem;
    padding-right: 2rem;
}

    .hamburger {
        display: none;
    }

    nav {
        position: static;
        z-index: 100;
        height: 12vh;
        width: 100%;
        background-color: hsla(0, 0%, 100%, .9);


    }

    .navbar a {
        color: black;
        font-size: 2rem;
    }

    /* from mobile */

    /* .navbar {
        /* width: 100%;
        height: 80%;
        list-style: none;
        font-size: 2.5em;
        color: black;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-weight: bold;
    } */

    .navbar {
        height: 100%;
        visibility: visible;
        opacity: .5;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 8rem 0 8rem;
    }

    a.logo {
        display: block;
        font-family: 'Lobster', cursive;
        letter-spacing: 5px;
        font-size: 4rem;
    }

    /* hero_section */


    .heading {
        padding-top: 10rem;
        font-size: 10rem;
    }

    .hero-section h2 {
        padding-top: 28rem;
        font-size: 4rem;
    }


    .bio-img {
        width: 50%;
        display: block;
        margin: 0 auto;

    }

    /* social_links */


    /* videos */

    .music-videos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
    }


    /* biography.html */
    .biography {
        display: flex;
        column-gap: 4rem;
    }

    .biography img {
        width: 50%;
        height: 100%;
        object-fit: cover;

    }

    .biography span {
        display: block;
        padding-bottom: var(--paragraph-spacing);
    }

    /* photos.html */


    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .gallery {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .gallery a {
        width: 100%;
        height: 100%;
    }

    .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 700px;
    }


    /*animations */


    .navbar a::after,
    .social_links span::after {
        content: '';
        display: block;
        width: 100%;
        height: .5rem;
        background: #0096FF;
        transform: scaleX(0);
        transition: 300ms ease-in-out;
        transform-origin: left;
    }

    .navbar a:hover::after,
    .social_links span:hover::after {
        transform: scaleX(1);
    }


    .social_links a,
    a.logo {
        transition: 300ms ease-in-out;
    }

    .social_links a:hover,
    a.logo:hover {
        transform: translateY(-10px);
    }

    /* remove hover line from lady gypsy 'logo' */

    a.logo::after {
        display: none;
    }
}