<section class="social_media">
    <h2>SOCIAL MEDIA</h2>

    <div class="social_links">
        <a href="#" class="facebook-link">
            <i class="fa-brands fa-facebook fa-4x"></i>
        </a>

        <a href="#" class="instagram_link">
            <i class="fa-brands fa-instagram fa-4x"></i>
        </a>
    </div>
</section>

<footer>
    <p>
        &copy Lynette Steele 2025
        <span>
            Made by <a
                href="https://www.cheyennepiper.com"
                target="_blank"
                rel="noopener noreferrer">Cheyenne Piper</a
            >
        </span>
    </p>
</footer>