---
import Navbar from "../components/Navbar.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Scripts from "../components/Scripts.astro"
---

<!doctype html>
<html lang="en">
    <head>
      <Header/>
    </head>

    <body>
       <Navbar/>
        <main>
           
            <slot />
           
          <Footer/>
        </main>
    </body>

   <Scripts/>
</html>
